Create a database for film table exercise:

In [1]:
CREATE DATABASE sparta_demo;

In [13]:
USE sparta_demo

Create a table with given column tiles:

In [20]:
DROP TABLE IF EXISTS films;
CREATE TABLE films (
    id INT PRIMARY KEY IDENTITY (1,1),
    film_name VARCHAR(50) UNIQUE NOT NULL,
    film_type VARCHAR (10),
    date_of_release DATE,
    director_id INT FOREIGN KEY REFERENCES directors(id),
    writer VARCHAR(20),
    star VARCHAR(20),
    film_language VARCHAR(20),
    official_website VARCHAR(200),
    plot_summary VARCHAR(200)
)

Add data to the table

In [22]:
INSERT INTO films (
    film_name, film_type, date_of_release, director, writer, star,
    film_language, official_website, plot_summary
) VALUES 
('The Shawshank Redemption', 'Drama', '1994-10-14', 'Frank Darabont',
'Stephen King', 'Tim Robbins', 'English',
'https://www.imdb.com/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk',
'two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion');

In [23]:
INSERT INTO films (
    film_name, film_type, date_of_release, director, writer, star,
    film_language, official_website, plot_summary
) VALUES 
('The Godfather', 'Crime', '1972-03-24', 'Francis Ford Coppola', 'Mario Puzo',
'Marlon Brando', 'English',
'https://www.imdb.com/title/tt0068646/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk',
'The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.'),
('The Dark Knight', 'Action', '2008-07-18', 'Christopher Nolan', 'Jonathan Nolan',
'Heath Ledger', 'English',
'https://www.imdb.com/title/tt0468569/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk',
'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham'
),
('12 Angry Men', 'Crime', '1957-04-10', 'Sidney Lumet', 'Reginald Rose',
'Henry Fonda', 'English',
'https://www.imdb.com/title/tt0050083/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk',
'The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully'
);

In [24]:
SELECT * FROM films;

id,film_name,film_type,date_of_release,director,writer,star,film_language,official_website,plot_summary
1,The Shawshank Redemption,Drama,1994-10-14,Frank Darabont,Stephen King,Tim Robbins,English,https://www.imdb.com/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk,"two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion"
2,The Godfather,Crime,1972-03-24,Francis Ford Coppola,Mario Puzo,Marlon Brando,English,https://www.imdb.com/title/tt0068646/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk,The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.
3,The Dark Knight,Action,2008-07-18,Christopher Nolan,Jonathan Nolan,Heath Ledger,English,https://www.imdb.com/title/tt0468569/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk,When the menace known as the Joker wreaks havoc and chaos on the people of Gotham
4,12 Angry Men,Crime,1957-04-10,Sidney Lumet,Reginald Rose,Henry Fonda,English,https://www.imdb.com/title/tt0050083/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=W8MDQ7R2DADQXQPGBW7E&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=ext_shr_lnk,The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully

Create a new table of directors

In [25]:
DROP TABLE IF EXISTS directors
CREATE TABLE directors (
    id INT PRIMARY KEY IDENTITY(100,1),
    full_name VARCHAR(20),
    date_of_birth DATE,
    nation VARCHAR(15),
);

Insert values into directors table

In [ ]:
INSERT directors (
    full_name, date_of_birth, nation
) VALUES 
('Martin Scorses', '1942-11-17', 'United States, Italy'),
('Christopher Nolan', '1970-07-30', 'United Kingdom, United States'),