Create table people

In [8]:
DROP TABLE IF EXISTS peoples
CREATE TABLE peoples (
    id INT PRIMARY KEY IDENTITY (1,1),
    name VARCHAR(10),
    status VARCHAR(20),
    email VARCHAR(50),
    phone CHAR(11),
    course_id VARCHAR(10) FOREIGN KEY REFERENCES courses(id)
);

: Msg 3726, Level 16, State 1, Line 1
Could not drop object 'peoples' because it is referenced by a FOREIGN KEY constraint.

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'peoples' in the database.

Create table courses

In [24]:
DROP TABLE IF EXISTS courses
CREATE TABLE courses (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(20),
    trainer_id VARCHAR(10) FOREIGN KEY REFERENCES trainers(id),
    module_id VARCHAR(10) FOREIGN KEY REFERENCES modules(id)
);

: Msg 3726, Level 16, State 1, Line 1
Could not drop object 'courses' because it is referenced by a FOREIGN KEY constraint.

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'courses' in the database.

Create trainer table

In [12]:
DROP TABLE IF EXISTS trainers
CREATE TABLE trainers(
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(10),
    email VARCHAR(50),
    phone CHAR(11),
);

: Msg 3726, Level 16, State 1, Line 1
Could not drop object 'trainers' because it is referenced by a FOREIGN KEY constraint.

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'trainers' in the database.

Create modules table

In [2]:
DROP TABLE IF EXISTS modules
CREATE TABLE modules (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(20)
);

Create clients table

In [6]:
DROP TABLE IF EXISTS clients
CREATE TABLE clients (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(20),
    people_id INT FOREIGN KEY REFERENCES peoples(id)
);

Insert values into trainers table

In [13]:
INSERT INTO trainers (
    id,name,emial,phone
) VALUES
('t1','David','d@spartaglobal.com','07467289176'),
('t2','Alan','a@spartaglobal.com','07294092578'),
('t3','Paula','p@spartaglobal.com','07120989092');

In [16]:
SELECT * FROM trainers;

id,name,emial,phone
t1,David,d@spartaglobal.com,07467289176
t2,Alan,a@spartaglobal.com,07294092578
t3,Paula,p@spartaglobal.com,07120989092

Insert values into modules table

In [15]:
INSERT INTO modules (
    id,name
) VALUES 
('m1','Data'),
('m2','Development'),
('m3','BusinessIntelligence');

In [17]:
SELECT * FROM modules;

id,name
m1,Data
m2,Development
m3,BusinessIntelligence

Insert values into courses table

In [19]:
INSERT INTO courses (
    id,name ,trainer_id,module_id
) VALUES
('c1','DataEng' ,'t2','m1'),
('c2','JavaDevo','t1','m2'),
('c3','DataAny' ,'t3','m3');

In [20]:
SELECT * FROM courses;

id,name,trainer_id,module_id
c1,DataEng,t2,m1
c2,JavaDevo,t1,m2
c3,DataAny,t3,m3

Insert values into peoples table

In [21]:
INSERT INTO peoples (
    name ,status,email ,phone,course_id
) VALUES
('Sarah','Training','s@spartaglobal.com','07837019346','c3'),
('Joe','Pre-assignment','j@spartaglobal.com','07358108572','c1'),
('Bill','Placement','b@spartaglobal.com','07529671926','c2');

In [22]:
SELECT * FROM peoples;

id,name,status,email,phone,course_id
2,Sarah,Training,s@spartaglobal.com,07837019346,c3
3,Joe,Pre-assignment,j@spartaglobal.com,07358108572,c1
4,Bill,Placement,b@spartaglobal.com,07529671926,c2

Insert values into clients table

In [32]:
INSERT INTO clients (
    id,name,people_id
) VALUES
('cl1','Barclays',3),
('cl2','Apple',NULL),
('cl3','Tesco',NULL);

In [33]:
SELECT * FROM clients;

id,name,people_id
cl1,Barclays,3
cl2,Apple,NULL
cl3,Tesco,NULL